﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>User App</title>
</head>
<body>

    <div>
        <h2>All Users</h2>
        <ul id="users" />
    </div>
    <div>
        <h2>Search by ID</h2>
        <input type="text" id="uId" size="5" />
        <input type="button" value="Search" onclick="find();" />
        <p id="user" />
    </div>


    <ul id="adds" />
    <div>
        <h2>Add User</h2>
        <a>Username:</a><br>
        <input type="text" id="usernameadd" size="30" /><br>
        <a>Password:</a><br>
        <input type="text" id="passwordadd" size="30" /><br>
        <a>Email</a><br>
        <input type="text" id="emailadd" size="30" /><br>
        <input type="button" value="Add" onclick="adduser();" />
        <p id="adds" />
    </div>
    <ul id="ups" />
    <div>
        <h2>Update User</h2>
        <a>Username:</a><br>
        <input type="text" id="usernameup" size="30" /><br>
        <a>Password:</a><br>
        <input type="text" id="passwordup" size="30" /><br>
        <a>Email</a><br>
        <input type="text" id="emailup" size="30" /><br>
        <input type="button" value="Update" onclick="putuser();" />
        <p id="adds" />
    </div>
    <ul id="delete" />
    <div>
        <h2>Delete User</h2>
        <a>Username:</a><br>
        <input type="text" id="usernamede" size="30" /><br>
        <input type="button" value="Delete" onclick="deleteuser();" />
        <p id="detele" />
    </div>


    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script>
        var uri = 'http://localhost:52288/api/2.0/users/';

    $(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of products.
            $.each(data, function (key, item) {
              // Add a list item for the product.
              $('<li>', { text: formatItem(item) }).appendTo($('#users'));
            });
          });
    });

    function formatItem(item) {
      return 'MSSV: '+item.Username+ '  Password: ' + item.Password+ '  Email: ' +item.Email;
    }

    function find() {
      var id = $('#uId').val();
      $.getJSON(uri + '/' + id)
         .done(function (data) {
            $('#user').text(formatItem(data));
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#user').text('Error: ' + err);
          });
    }

    //Adds a user to the List
    function adduser() {
        var user = {
            Username: document.getElementById('usernameadd').value,
            Password: document.getElementById('passwordadd').value,
            Email: document.getElementById('emailadd').value,
        };

        $.ajax({
            url: 'http://localhost:52288/api/2.0/users/',
            type: 'POST',
            data: JSON.stringify(user),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                alert('Student added Successfully');
                GetAllUsers();
            },
            error: function () {
                alert('User not Added');
            }
        });
        //Updates the user Details in the List
        function putuser() {
            var user = {
                Username: document.getElementById('usernameup').value,
                Password: document.getElementById('passwordup').value,
                Email: document.getElementById('emailup').value
            };
            $.ajax({
                url: 'http://localhost:52288/api/2.0/users/' + document.getElementById('usernameup').value,
                type: 'PUT',
                data: JSON.stringify(user),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert('Details Updated Successfully');
                    GetAllUsers();
                },
                error: function () {
                    alert('Unable to Update for the Given ID');
                }
            });
        }
        function GetAllUsers() {
            jQuery.support.cors = true;
            $.ajax({
                url: 'http://localhost:52288/api/2.0/users/',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponses(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });

            //Displays in a Table
            function WriteResponses(users) {
                var strResult = "<table><th>Id</th><th>Username</th><th>Password</th><th>Email</th>";
                $.each(users, function (index, user) {
                    strResult += "<tr><td>" + user.Id + "</td><td> " + USER.Username + "</td><td>" + user.Password + "</td><td>" + user.Email + "</td></tr>";
                });
                strResult += "</table>";
                $("#divResult").html(strResult);
            }



        }
        //Delete the user Details in the List.
        function deleteuser() {

            $.ajax({
                url: 'http://localhost:52288/api/2.0/users/' + document.getElementById('usernamede').value,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert('User Deleted Successfully');
                    GetAllUsers();
                },
                error: function () {
                    alert('Unable to Deleted for the Given ID');
                }
            });
        }
    }
    </script>
</body>
</html>